g
test1.py
__pycache__
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/
*.egg
venv/
ENV/
env/
.venv/
pip-wheel-metadata/
*.log
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
